{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="view">
 
    <div class="container">
        <!--Mask-->
            <div class="text-center"> 

                    <!-- Heading -->
                    <h1 style="color: red; font-size 60px">Your Family Directory</h1>
                    
                    
                    <h4 style="color: black; font-size 16px">Give the ones you love wings to fly, the roots to come back and resaons to stay. Dalai Lama</h4>


                        {% comment %} <div class="container home-form"> {% endcomment %}
        
                        
                        <a href="{% url 'add' %}" class="btn btn-dark">Add me to the directory</button></a>

                        
                        <a href="{% url 'directory' %}"class="btn btn-dark">Take me to the Directory</button></a>
                        
                        {% comment %} </div> {% endcomment %}
                    


                                                <!--Main layout-->
                <main class="mt-5">
                    <div class="container">

                        <!--Section: Best Features-->
                        <section id="best-features" class="text-center">

                            <!-- Heading -->
                            <h2 style="color: red; font-size 16px">Best Features</h2>

                            <!--Grid row-->
                            <div class="row d-flex justify-content-center mb-4">

                                <!--Grid column-->
                                <div class="col-md-8">

                                    <!-- Description -->
                                    <h3 style="color: black; font-size 10px">This will provide your family with the information that is for you only.
                                    You will control how it is shared with others. You can add as many branches of your family as you would like.</h3>

                                </div>
                                <!--Grid column-->

                            </div>
                    </div>
                            <!--Grid row-->

                            <!--Grid row-->
                            <div class="row familyList">

                            <!--Grid column-->
                                <div class="col-md-4 mb-5">
                                {% comment %} <p class="element">
                                        {% endcomment %}
                                    <h4 style="color: red;  font-size 16 px">Chandler</h4>
                                    <h5 style="color:black; font-size 8px">Our family story begins...</h5>
                                
                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-md-4 mb-5">
                                    <h4 style="color: red;  font-size 16 px">Fowlkes</h4>
                                    <h5 style="color:black; font-size 8px">Our family story begins...</h5>
                                </div>
                                
                                <!--Grid column-->

                            <!--Grid column-->
                                <div class="col-md-4 mb-5">
                                    <h4 style="color: red;  font-size 16 px">Lapsely</h4>
                                    <h5 style="color:black; font-size 8px">Our family story begins...</h5>
                                </div>
                                
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-md-4 mb-5">
                                    <h4 style="color: red;  font-size 16 px">Lovelace</h4>
                                    <h5 style="color:black; font-size 8px">Our family story begins...</h5>
                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-md-4 mb-1">
                                    <h4 style="color: red;  font-size 16 px">Sullivan</h4>
                                    <h5 style="color:black; font-size 8px">Our family story begins...</h5>
                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-md-4 mb-1">
                                    
                                    <h4 style="color: red;  font-size 16 px">ALL</h4>
                                    <h5 style="color:black; font-size 8px">Our family story begins...</h5>
                                </div>
                                <!--Grid column-->

                                
                                
            </div>
        

   </div>

    
</div>
{% endblock content %}