{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="input">
    <div class="container directory-form">
        <form action="{% url 'update' id %}" method="POST">
            {% csrf_token %}
            <h1 style="color: white; font-size: 60px">Update Your Directory Detail
            </h1>
            <h2 style="color:black; font-size: 30px">Please select a branch</h2>
            <div class="row">
                <div class="col-md-6">
                    <label for="branch"></label>
                </div>
                <div class="col-md-6">
                    <select id="branch" name="branch">
                        <option value="ALL">ALL</option>
                        <option value="Chandler">Chandler</option>
                        <option value="Lapsley">Lapsley</option>
                        <option value="Lovelace">Lovelace</option>
                        <option value="Sullivan">Sullivan</option>
                    </select>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for=""></label>
                    <input type="text" name="first_name" class="form-control"
                        placeholder="{{ update_person.first_name }}">
                </div>
                <div class="form-group">
                    <label for=""></label>
                    <input type="text" name="last_name" class="form-control"
                        placeholder="{{update_person.last_name}}">
                </div>
                <div class="form-group">
                    <label for=""></label>
                    <input type="text" name="schools" class="form-control" placeholder="{{update_person.schools}}">
                </div>
                <div class="form-group">
                    <label for=""></label>
                    <input type="text" name="occupation" class="form-control"
                        placeholder="{{update_person.occupation}}">
                </div>

            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <textarea class="form-control" placeholders="Your Message *"></textarea>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <input type="submit" name="" class="new_button" value="Send to the Directory">
                </div>
            </div>


            <div class="col-md-12">
                <div class="form-group">
                    <a href="{% url 'family-home' %}" class="new_button">Home</a>
                </div>
            </div>
        </form>

    </div>
</div>


{% endblock  %}